.acf-admin-preview.thankyou-section{padding: 50px 0;}
.acf-admin-preview.thankyou-section .thanks-wrapper{max-width: 750px;margin: auto;}
.acf-admin-preview.error-section .error-wrapper h5 , .thankyou-section .thanks-wrapper h1{margin-bottom: 20px;}